*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red-hat-display{
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
    --primary-color: #F8AD79;
    /* --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50; */
  }

/* ---------------------------- HEADER---------------------------- */
.header{
    border: 1px solid red;
    width: 100%;
}
.header .suscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: 8.5px;
    height: 30px;
}


.header .logo{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
    border: 1px solid red;
}
.header .logo .container-menu{

}

.header .logo .container-menu .nav{


}
.header .logo .container-menu .nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.header .logo .container-menu .nav ul li{
    padding: 0 40px;
}
.header .logo .container-menu .nav ul li a{
    text-decoration: none;
    padding: 1.2rem;
    font-size: 20px;
    color: #000;
}
.header .logo .container-menu .nav ul li a:hover{
    text-decoration: underline;

}
